<h3>Sign Up</h3>

{{!-- <form action="/signup" method="POST">
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}

<div id="error-message">
  {{#if errorMessage}}
    <h5 class="error-message">{{errorMessage}}</h5>
  {{/if}}
</div>

<div class="d-flex justify-content-center">

  <div class="sign">
    <form action="/signup" method="POST">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          required
        />
        <label class="form-label" for="email">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          minlength="8"
          required
        />
        <label class="form-label" for="password">Password</label>
      </div>

      <div class="form-outline mb-4">
        <input
          type="password"
          name="pwdConfirmation"
          id="pwdConfirmation"
          class="form-control"
          minlength="8"
          required
        />
        <label class="form-label" for="pwdConfirmation">Confirm Password</label>
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        class="btn btn-primary btn-block mb-4"
      >Register</button>

    </form>
  </div>
</div>