body {
  background-color: rgb(255, 255, 255) !important;
  color: #000000;
  padding: 50px;
  margin: auto 5rem;
  font: 18px calibri;
}
#nav {
  background-color: rgb(255, 255, 255) !important;
}

.prj {
  margin-bottom: 2%;
}
.content-body {
  background-color: rgb(255, 255, 255);
  width: 65%;
  height: auto;
  min-height: 100%;
}

.content-body > form {
  padding: 40px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

/* #bg-img{
  width: 100%;
} */

#containerIntro h1,
#containerIntro p {
  display: inline;
  vertical-align: top;
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
}
#containerIntro {
  margin-bottom: 10px;
}

.init {
  margin: 50px auto;
}

#bg-div-img {
  width: 100%;
  height: 100%;
  background-image: url("/images/film-background.jpg");
  background-size: cover;
}

.about > p{
  color: #D4AF37;
  text-align: justify;
  margin: 10% 10%;
  padding: 50px;
  border-radius: 10px;
  font-size: 1rem;
}

.about > h5 {
  color: #D4AF37;
  font-size: 2rem;
  text-align: center;
  padding-top: 10%;
}

.about{
  background-color: #0000008e;
  text-align: justify;
  height: 100%;
  padding: 20px;
  font-size: 1rem;
}

#logo-two {
  max-width: 10vw;
  min-width: 150px;
  margin: 0;
  padding: 0;
}

#all-page {
  max-width: 90vw;
  margin: 10px 50px;
}

.content {
  background-color: rgb(255, 255, 255);
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  color: #D4AF37;
  background-color: #151515;
}

/* #add-festival {
  padding: 20px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.add-festival {
  padding: 5%;
  text-align: center;
}

/* #add-festival > a {
  color: white;
} */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title {
  font-size: 0.8rem;
  color: grey;
  text-align: right;
  padding: 0 1rem;
  height: 12px;
}

.heads {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2%;
}

#festival-head {
  align-items: flex-start;
}

.headlines {
  margin: 20px auto 20 20px;
}

.logo {
  width: 150px;
  height: 150px;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  color: #000000 !important;
  font-size: 1rem;
  padding: 0 1rem;
}

.button {
  margin: 20 20px 20px auto;
}

.btn {
  margin: 2px;
}
/* .btn {
  color: #faf8f8;
  background-color: rgb(53, 118, 193);
  padding: 10px;
  border-radius: 10px;
} */

.nav-link.active {
  color: purple;
  font-weight: bold;
}

/* .festival-car {
  margin-bottom: 2rem;
} */

.fest > div {
  box-shadow: 0px 0px 5px 5px #aaaaaa;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding-bottom: 10px;
  padding: 10px;
}
.fest > img {
  box-shadow: 5px 5px 5px 5px #aaaaaa;
  width: 15vw;
  height: 10vw;
  margin: 10% 0;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.fest > div:hover {
  font-weight: bolder;
}

.video {
  margin: 0 0 10px 0;
  border: 1px solid rgb(183, 181, 181);
  width: 35vw;
  height: 20vw;
}

.center {
  width: 33vw;
  height: 18vw;
  margin-left: 1vw;
  margin-top: 1vw;
  border-radius: 5px;
}

.footer-text {
  font-size: 1.1vw;
  text-align: left;
  line-height: 0.9em;
}

.f-one > p,
h6 {
  padding-left: 15%;
}

.f-two > p {
  padding-left: 15%;
}

.f-three > p {
  padding-left: 15%;
}

.f-title {
  font-size: 1.3vw;
}
.car-frame {
  margin: 0 0 10px 0;
  border: 1px solid rgb(228, 228, 228);
  border-left: none;
  border-right: none;
  width: 100%;
  height: auto;
}

.carousel {
  max-width: 80%;
  display: block;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  color: red;
}

.fest-img:hover {
  opacity: 0.3;
}

.projects {
  border-radius: 10px;
}

.prj-item {
  padding-top: 10px;
}


.film-img{
  height: 100% !important;
  max-height: 30vh !important;
  max-width: 20vh !important;
}
.film-txt{
  max-height: 30vh !important;
  max-width: 20vh !important;
}


.carrusel-text {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  width: 100%;
}

