<section class="heads" id="festival-head">
<div><h2 class="headlines">My Festival</h2></div>

</section>

<div class="content-body">
    <div id="add-festival"><a href ="#">Add My Festival</a></div>
</div>