<section class="heads" id="search">
  <div><h2 class="headlines">Search Festivals</h2></div>
  <div>
    <form action="/festivals" method="POST">
      <input type="text" name="search" placeholder="Search festivals" />
      <button type="submit">Search</button>
    </form>
  </div>
</section>

<div class="content-body">

    {{#each festivalsInDB}}
        <div>
            <img src="{{image}}" />
            <h2>{{title}}</h2>
            <p>{{country}}</p>
            <p>Submission Deadline: {{submissionDeadline}}
        </div>
    {{/each}}

</div>