<section class="heads" id="festival-head">
    <div><h2 class="headlines">My Festival</h2></div>
</section>

<div class="content-body">
    {{#if festivalFromDB}}
        <div>
            <h1>{{festivalFromDB.title}}</h1>
            <a href="/profile/myfestival/edit">Edit My Festival</a> |
            <a href="/profile/myfestival/manage">Manage My Festival</a>
            <form action="/profile/myfestival/remove" method="POST">
                <button type="submit">Remove My Festival</button>
            </form>
        </div>
    {{else}}
            <div id="add-festival"><a href ="/profile/add-my-festival">Add My Festival</a></div>
    {{/if}}
</div>
