<section class="heads">
    <div><h2 class="headlines">Projects</h2></div>
    <div class="button">
        <a class="btn" href="/profile/create">Add a Project</a>
    </div>
</section>
<div class="content-body">
    
</div>